<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dddn.mapper.StudentMapper">
    <update id="update">
        update student s 
        <set>
            <if test="name != null and name != ''"> name = #{name}, </if>
            <if test="no != null and no != ''"> no = #{no}, </if>
            <if test="phone != null and phone != ''"> phone = #{phone}, </if>
            <if test="gender != null"> gender = #{gender}, </if>
            <if test="degree != null"> degree = #{degree}, </if>
            <if test="idCard != null and idCard != ''"> id_card = #{idCard}, </if>
            <if test="isCollege != null"> is_college = #{isCollege}, </if>
            <if test="address != null and address != ''"> address = #{address}, </if>
            <if test="graduationDate != null"> graduation_date = #{graduationDate}, </if>
            <if test="clazzId != null"> clazz_id = #{clazzId}, </if>
            <if test="updateTime != null"> update_time = #{updateTime} </if>
        </set>
        where s.id = #{id}
    </update>

    <delete id="delete">
        delete from student s where s.id in
        <foreach collection="ids" item="studentId" open="(" close=")" separator=",">
            #{studentId}
        </foreach>
    </delete>

    <select id="listPage" resultType="com.dddn.pojo.Student">
        select s.*, c.name clazzName from student s left outer join clazz c on s.clazz_id = c.id
        <where>
            <if test="name != null and name != ''">
                s.name like concat('%', #{name}, '%')
            </if>
            <if test="degree != null">
                and s.degree = #{degree}
            </if>
            <if test="clazzId != null">
                and clazz_id = #{clazzId}
            </if>
        </where>
        order by s.update_time desc
    </select>

    <resultMap id="studentDegreeMap" type="com.dddn.pojo.StudentDegreeData">
        <result column="degreeName" property="name"/>
        <result column="value" property="value"/>
    </resultMap>

    <select id="getStudentDegreeData" resultMap="studentDegreeMap">
        select ( case s.degree
            when 1 then '初中'
            when 2 then '高中'
            when 3 then '大专'
            when 4 then '本科'
            when 5 then '硕士'
            when 6 then '博士'
            else '其他' end
                   ) degreeName , count(*) value from student s group by s.degree;
    </select>

</mapper>